<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Juegos</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Proyecto Integrador</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/web/games">Lista de Juegos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/web/games/new">Añadir Juego</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/web/games/search">buscar</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form>
    </div>
</nav>

<div class="container mt-5">
    <h1>Lista de Juegos</h1>
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Desarrolladores</th>
            <th>Fecha de Lanzamiento</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="game : ${games}">
            <td th:text="${game.id}"></td>
            <td th:text="${game.name}"></td>
            <td th:text="${game.developers}"></td>
            <td th:text="${game.launchDate}"></td>
            <td>
                <a th:href="@{/web/games/edit/{id}(id=${game.id})}" class="btn btn-danger">Editar</a>
                <a th:href="@{/web/games/delete/{id}(id=${game.id})}" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="/web/games/new" class="btn btn-success">Añadir Juego</a>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
